@font-face {
	font-family: montserrat;
	src: url(/static/fonts/Montserrat-Regular.otf);
}

@font-face {
	font-family: montserrat-semibold;
	src: url(/static/fonts/Montserrat-SemiBold.otf);
}

@font-face {
	font-family: montserrat-bold;
	src: url(/static/fonts/Montserrat-Bold.otf);
}

@font-face {
	font-family: numbers;
	src: url(/static/fonts/number.ttf);
}

html, body {
	height: 100%;
	scroll-behavior: smooth;
}

.navbar{
	height: 70px;
}

#navbar-brand{
	font-size: 1.5rem;
	font-family: montserrat-bold;
	color: white;
}

#navbar-brand:hover{
	text-shadow: rgba(120, 120, 120, 0.8) 0.05em 0.05em 0.1em;
}

#content{
	width: 100%;
}

#menu{
	position: fixed;
	width: 100%;
	z-index: 3;
}

#navbarCollapse {
	text-align: center;
}

#navbar-toggler{
	border: solid 2px rgb(255, 255, 255);
	box-shadow: none !important;
	color: rgb(255, 255, 255);
	background-color: transparent;
}

.menu-link{
	display: block;
	color: rgb(215, 215, 215);
	font-size: 1rem;
	-webkit-transition-property: font-size;
	-webkit-transition-duration: 0.2s;
	-webkit-transition-timing-function: linear;
	transition-property: font-size;
	transition-duration: 0.2s;
	transition-timing-function: linear;
	font-family: montserrat-semibold;
	text-decoration: none !important;
}

.menu-link:hover{
	font-size: 1.25rem;
	text-shadow: rgba(120, 120, 120, 0.8) 0.05em 0.05em 0.1em;
}

.menu-link-active{
	color: rgb(40, 40, 40);
	display: block;
	font-size: 1rem;
	-webkit-transition-property: font-size;
	-webkit-transition-duration: 0.2s;
	-webkit-transition-timing-function: linear;
	transition-property: font-size;
	transition-duration: 0.2s;
	transition-timing-function: linear;
	font-family: montserrat-semibold;
	text-decoration: none !important;
}

.menu-link-active:hover{
	color: rgb(0, 0, 0);
	text-shadow: rgba(120, 120, 120, 0.8) 0.05em 0.05em 0.1em;
	font-size: 1.25rem;
}

#fadein{
	padding-top: 1rem;
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: white;
	z-index: 4;
}

#successful{
	padding-top: 4rem;
	color: rgb(60, 255, 120);
	font-family: montserrat-bold;
	font-size: 3rem;
	display: none;
}

#frame{
	position: relative;
	text-align: center;
	background-image: url(/static/images/laptop-background.png);
	background-size: cover;
	width: 720px;
	height: 500px;
	overflow: hidden;
	margin: auto;
	padding-top: 25px;
	padding-left: 3rem;
}

@keyframes fill_up{
	0% {
		background-position: 0% 0%;
	}
	100% {
		background-position: 100% 0%;
	}
}

@-webkit-keyframes fill_up {
	0% {
		background-position: 0% 0%;
	}
	100% {
		background-position: 100% 0%;
	}
}

@-moz-keyframes fill_up {
	0% {
		background-position: 0% 0%;
	}
	100% {
		background-position: 100% 0%;
	}
}

#enter{
	font-size: 1.5rem;
	font-family: montserrat-bold;
	width: 120px;
	text-align: center;
	height: 35px;
	cursor: pointer;
	color: white;
	margin: auto;
	margin-top: 20px;
	border-radius: 5px;
	background-size: 200% 100%;
	background-image: linear-gradient(to right, rgb(255, 200, 140) 50%, orange 50%);
}

#enter:hover{
	color: rgb(225, 225, 225);
	-webkit-animation: fill_up 0.5s linear;
	-moz-animation: fill_up 0.5s linear;
	animation: fill_up 0.5s linear;
	background-position: 100% 0%;
}

#running-code{
	z-index: -1;
}

.white-rect{
	fill: rgb(180, 180, 180);
}

.red-rect{
	fill: rgb(200, 50, 50);
}

.yellow-rect{
	fill: rgb(200, 200, 50);
}

.green-rect{
	fill: rgb(100, 200, 50);
}

#display_img{
	margin-bottom: 3rem;
}


#countdown-timer{
	text-align: center;
	max-width: 800px;
	color: white;
}

.countdown-cell{
	margin: 1rem;
	width: 100%;
	display: inline-block;
	border-radius: 2rem;
	padding-top: 3rem;
	padding-bottom: 3rem;
	border: solid rgba(186, 196, 206, 1) 5px;
	background: linear-gradient(to top, rgba(194, 178, 128, 0.9) 50%, rgba(206, 216, 226, 1) 50%);
	background-size: 100% 200%;
	background-position: 0% 0%;
}

.countdown-value{
	font-size: 5rem;
	line-height: 100%;
	font-family: numbers;
}

.countdown-unit{
	font-family: montserrat;
}

#sign-up-link{
	display: block;
	margin: auto;
	font-size: 1.25rem;
	margin-top: 1rem;
	color: rgb(100, 100, 100, 1);
	text-decoration: none!important;
	font-family: montserrat;
}

#sign-up-link:hover{
	color: rgb(50, 50, 50);
}

#bold{
	font-family: montserrat-bold;
}


@media screen and (max-width: 576px) {
	.countdown-cell{
		max-width: 10rem;
	}
}

.header{
	font-size: 2rem;
	font-family: montserrat-semibold;
	margin-bottom: 1rem;
	letter-spacing: 3px;
}

.description{
	font-size: 0.9rem;
	font-family: montserrat;
	text-align: justify;
	direction: ltr;
}

footer{
	margin-top: 3rem;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;
	background: rgb(50, 50, 50);
	color: white;
	font-size: 0.9rem;
}

#to_top{
	color: white;
	text-decoration: none !important;
	font-family: montserrat-semibold;
}

#to_top:hover{
	color: grey;
}

#logo{
	max-width: 100px;
	margin-bottom: 20px;
}

.footer-item{
	margin-top: 2rem;
}

.link{
	text-decoration: none!important;
	color: white;
	display: block;
	margin-top: 10px;
	margin-bottom: 15px;
}

.link:hover{
	color: grey;
}

.row{
	margin: auto !important;
}

@media screen and (max-width: 500px) {
	.navbar{
		height: 60px!important;
	}
	#navbar-brand{
		font-size: 1rem !important;
		color: rgb(80, 80, 80)!important;
	}
	#navbar-toggler{
		border-color: rgb(80, 80, 80) !important;
		color: rgb(80, 80, 80)!important;
	}
	#menu{
		background-color: rgba(240, 240, 240, 0.8)!important;
	}
	.menu-link{
		color: black !important;
	}
	#top{
		height: 60px;
	}
	.header{
	}
	.motto{
		width: 100%;
	}
	#frame{
		width: 360px;
		height: 250px;
		padding-top: 15px;
		padding-left: 2rem;
	}
	#enter{
		background-color: orange;
	}
	#successful{
		padding-top: 2rem;
		font-size: 2rem;

	}
}


